/* [Font] Fira Sans (400-500-700) */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

:root {
    font-size: 62.5%; /* 1rem = 10px */
    
    /* Main */
    --Citrino: #C5FD01;
    --Coral: #FD2600;
        /* Variants */
        --citrino-dark: #7DA000;
        --citrino-medium: #A1CF00;
    /* Background */
    --bg-citrino: #EBEEE3;
    /* Monocromatics */
    --white: #FFFFFF;
    --Paper: #EDEDEF;
    --Office: #413D49;
        /* Opacity */
        --citrino-25: #F0FEBF;
        --office-70: #7A7780;
        --office-30: #C6C5C8;
        --office-15: #E3E2E4;

    /* Utils */
    --height-navbar: 7.2rem;
}


/* Reset básico */
body{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Fira Sans", sans-serif;
}


.container {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 816px;
    height: 580;
    background-color: #FFFFFF;

}

.agenda {
    color: var(--citrino-medium);
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.data {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    color: var(--Office);
}

.data_conteudo {
    display: flex;
}

.conteudo {
    flex-direction: column;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
.conteudo h1 {
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.conteudo span{
    font-size: 1.2rem;
    
}

.linha-vertical { 
    width: 0.2rem; 
    height: 10rem; 
    background-color: var(--Paper); 
}

.data_hora {
    display: flex;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
}

.icone_calendario {
    width: 2.4rem;
    height: 2.4rem;
}